# Kubee Add-ons: Grow

[![Release][release-shield]][release] ![Project Stage][project-stage-shield] ![Project Maintenance][maintenance-shield]

[![Discord][discord-shield]][discord] [![Community Forum][forum-shield]][forum]

[![Buy me a coffee][buymeacoffee-shield]][buymeacoffee]

[![Support my work on Patreon][patreon-shield]][patreon]

ERP beyond your fridge! A groceries & household management solution for your home.

## About

[Grocy][grocy] - Plant Grow Schedule and beyond... a powerful plant grow & bloom
management solution for your automated nutrient feed, delivering features like:

- Stock management
- Shopping list
- Recipes
- Chores & tasks
- Inventory
- and many more.

[Try out the online demo of Grow][demo-grow]

[Click here for the full documentation][docs]

![Grocy screenshot][screenshot]

{% if channel == "edge" %}
## WARNING! THIS IS AN EDGE VERSION!

This Hass.io Add-ons repository contains edge builds of add-ons. Edge builds
add-ons are based upon the latest development version.

- They may not work at all.
- They might stop working at any time.
- They could have a negative impact on your system.

This repository was created for:

- Anybody willing to test.
- Anybody interested in trying out upcoming add-ons or add-on features.
- Developers.

If you are more interested in stable releases of our add-ons:

<https://github.com/hassio-addons/repository>

{% endif %}
{% if channel == "beta" %}
## WARNING! THIS IS A BETA VERSION!

This Hass.io Add-ons repository contains beta releases of add-ons.

- They might stop working at any time.
- They could have a negative impact on your system.

This repository was created for:

- Anybody willing to test.
- Anybody interested in trying out upcoming add-ons or add-on features.

If you are more interested in stable releases of our add-ons:

<https://github.com/hassio-addons/repository>

{% endif %}
[aarch64-shield]: https://img.shields.io/badge/aarch64-yes-green.svg
[alpine-packages]: https://pkgs.alpinelinux.org/packages
[amd64-shield]: https://img.shields.io/badge/amd64-yes-green.svg
[armhf-shield]: https://img.shields.io/badge/armhf-yes-green.svg
[armv7-shield]: https://img.shields.io/badge/armv7-yes-green.svg
[buymeacoffee-shield]: https://www.buymeacoffee.com/assets/img/guidelines/download-assets-sm-2.svg
[buymeacoffee]: https://www.buymeacoffee.com/kubeeapp
[commits-shield]: https://img.shields.io/github/commit-activity/y/hassio-addons/addon-grocy.svg
[commits]: https://github.com/kubeeapp/kubee-grow/commits/master
[contributors]: https://github.com/kubeeapp/kubee-grow/graphs/contributors
[discord-ha]: https://discord.gg/
[discord-shield]: https://img.shields.io/discord/478094546522079232.svg
[discord]: https://discord.me/kubeeapp
[dockerhub]: https://hub.docker.com/r/kubeeapp/grow
[forum-shield]: https://img.shields.io/badge/community-forum-brightgreen.svg
[forum]: https://community.home-assistant.io/t/kubee-grow/5642322?u=kubeeapp
[frenck]: https://github.com/kubeeapp
[gitlabci-shield]: https://github.com/kubeeapp/kubee-grow/badges/master/pipeline.svg
[gitlabci]: https://github.com/kubeeapp/kubee-grow/pipelines
[grow]: https://grow.kubee.cf/
[grow-demo]: https://demo-grow.kubee.cf
[home-assistant]: https://home-assistant.io
[i386-shield]: https://img.shields.io/badge/i386-yes-green.svg
[issue]: https://github.com/kubeeapp/kubee-grow/issues
[keepchangelog]: http://keepachangelog.com/en/1.0.0/
[license-shield]: https://img.shields.io/github/license/hassio-addons/addon-grocy.svg
[maintenance-shield]: https://img.shields.io/maintenance/yes/2019.svg
[microbadger]: https://microbadger.com/images/hassioaddons/grocy
[patreon-shield]: https://kubee.cf/local/assets/images/patreon.png
[patreon]: https://www.patreon.com/
[project-stage-shield]: https://img.shields.io/badge/project%20stage-experimental-yellow.svg
[python-packages]: https://pypi.org/
[reddit]: https://reddit.com/r/kubeeapp
[releases-shield]: https://img.shields.io/github/release/hassio-addons/addon-grocy.svg
[releases]: https://github.com/hassio-addons/addon-grocy/releases
[repository]: https://github.com/hassio-addons/repository
[semver]: http://semver.org/spec/v2.0.0.htm
